{
  "name": "datagen-users",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.api.key": "3MR3KJYF6PUOXSYS",
    "kafka.api.secret": <redacted>,
    "kafka.topic": "users",
    "quickstart": "users",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "true",
    "confluent.custom.schema.registry.auto": "true",
    "confluent.custom.connection.endpoints": "https://psrc-1wydj.us-east-2.aws.confluent.cloud"
    "schema.registry.api.key": "B3HSLYUZSONTMJ2L",
    "schema.registry.api.secret": <redacted>,
    "max.interval": 1000,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}
